<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" matInput placeholder="Your login" ngModel name="login" required #loginInput="ngModel">
            <mat-error *ngIf="loginInput.hasError('required')">Field shouldn't be empty</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Your password" ngModel name="password" #passInput="ngModel">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>

        <mat-checkbox color="primary" ngModel name="acceptance" required>I accept</mat-checkbox>

        <mat-label *ngIf="errorExists">{{errorText}}</mat-label>
        <a routerLink="/signup">Signup.</a>
    </form>
</section>