<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/catalogue" [matMenuTriggerFor]="catalogue">
        <mat-icon>view_list</mat-icon>
        catalogue
      </a>
      <mat-menu #catalogue="matMenu">
        <button mat-menu-item (click)="sidenav.close()">All items</button>
        <button mat-menu-item (click)="sidenav.close()">Stones</button>
        <button mat-menu-item (click)="sidenav.close()">Herbs</button>
        <button mat-menu-item (click)="sidenav.close()">Creature products</button>
        <button mat-menu-item (click)="sidenav.close()">Cauldrons</button>
      </mat-menu>
      <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
        <mat-icon>person</mat-icon>
        Signup
      </a>
      
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">
        <mat-icon>input</mat-icon>
        Login
      </a>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

<mat-sidenav-content>
  <mat-toolbar>
    <div>
      <button mat-raised-button color="primary" (click)="sidenav.toggle()"> 
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <button mat-raised-button id="logo" routerLink=""></button>
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="1rem" fxHide.xs>
      <a routerLink="/signup">Signup</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/catalogue">Catalogue</a>
      <button *ngIf="userService.currentUser" mat-raised-button color="warn"
      (click)="openProfile(userService.currentUser.id)">{{userService.currentUser.email}}</button>
    </div>
    
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-content>

</mat-sidenav-container>