<mat-tab-group>
    <mat-tab label="Orders">
        <app-order-history></app-order-history>
    </mat-tab>


    <mat-tab label="Profile information"> 
        <section>
            <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mat-form-field>
                    <input [disabled]="!isEditing" type="text" matInput placeholder="Your full name" [(ngModel)]="newName" name="fullName" required #fullNameInput="ngModel">
                    <mat-hint>Full name</mat-hint>
                    <mat-error *ngIf="fullNameInput.hasError('required')">Field shouldn't be empty</mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <input [disabled]="!isEditing" type="email" matInput placeholder="Your email" [(ngModel)]="newEmail" name="email" required #emailInput="ngModel">
                    <mat-hint>Email</mat-hint>
                    <mat-error *ngIf="emailInput.hasError('required')">Field shouldn't be empty</mat-error>
                    <mat-error *ngIf="!emailInput.hasError('required')">Use correct email format</mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <input [disabled]="!isEditing" type="tel" matInput placeholder="Your phone number" [(ngModel)]="newPhone" name="phone" required #phoneInput="ngModel">
                    <mat-hint>Phone</mat-hint>
                    <mat-error *ngIf="phoneInput.hasError('required')">Field shouldn't be empty</mat-error>
                    <mat-error *ngIf="!phoneInput.hasError('required')">Use correct phone number format</mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <input [disabled]="!isEditing" type="text" matInput placeholder="Your address" [(ngModel)]="newAddress" name="address" required #addressInput="ngModel">
                    <mat-hint>Address</mat-hint>
                    <mat-error *ngIf="addressInput.hasError('required')">Field shouldn't be empty</mat-error>
                </mat-form-field>
                
                <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">{{isEditing ? 'Save' : 'Edit'}}</button>
            </form>
        </section>    
    </mat-tab>
</mat-tab-group>

<button mat-raised-button (click)="userService.toGuestUser()" routerLink="">Logout</button>