<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="30%" fxLayoutGap="10px">
        <input matInput type="text" (keyup)="applyFilters()" [(ngModel)]="filterValues.search"> 
    </mat-form-field>
</div>

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>Filters</mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <mat-accordion>
            <mat-expansion-panel (opened)="categoryOpenState.set(true)" (closed)="categoryOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title>Categories</mat-panel-title>
              </mat-expansion-panel-header>
                <mat-checkbox [checked]="allChecked">All</mat-checkbox>
                <mat-checkbox  *ngFor="let type of prodTypes" (change)="onTypesChange($event.checked, type)">{{type}}s</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
      </div>

      <div>
        <p>Price</p>
        <mat-slider min="{{minPrice}}" max="{{maxPrice}}" discrete>
            <input value="{{minPrice}}" matSliderStartThumb [(ngModel)]="filterValues.priceRange![0]">
            <input value="{{maxPrice}}" matSliderEndThumb [(ngModel)]="filterValues.priceRange![1]">
          </mat-slider>
      </div>

      <div>
        <p>Delivery time in days</p>
        <mat-slider min="{{minDeliveryTime}}" max="{{maxDeliveryTime}}" discrete>
            <input value="{{maxDeliveryTime}}" matSliderThumb [(ngModel)]="filterValues.deliveryTime">
          </mat-slider>
      </div>

      <div>
        <p>Quantity</p>
        <mat-slider min="0" max="{{maxQuantity}}" discrete>
            <input matSliderThumb [(ngModel)]="filterValues.quantity">
          </mat-slider>
      </div>

      <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
      <button mat-raised-button color="primary" (click)="initFilters()">Reset</button>
    </mat-expansion-panel>
  </mat-accordion>
  

<table mat-table [dataSource]="productSource" matSort>
    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef>image</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <img src="{{element.image}}" alt="{{element.name}}" mat-card-lg-image>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.price | number}} $</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header="">rating</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rating | number}} / 5</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delivery">
        <mat-header-cell *matHeaderCellDef mat-sort-header="">Delivery time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.delivery | number}} days</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let rows; columns: displayColumns" (click)="goToProduct(rows.id)"></mat-row>
</table>

<mat-paginator [pageSize]="4" [pageSizeOptions]="[4, 6, 8, 10, 50]"></mat-paginator>
