img {
    width: 40%;
}

#mainContainer {
    background-color: rgb(214, 237, 100);
    width: 100%;
    margin: 20px 20px 10% 10%;
}
#prodInfo {
    background-color: blanchedalmond;
}
.rating{
    background-color: blueviolet;
}

#review {
    border: 3px;
    border-radius: 20px;
    border-color: rgba(186, 71, 186, 0.589);
    border-style: solid;
    padding: 10px;
    margin: 5px;
}