<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/catalogue" (click)="sidenav.close()">
        <mat-icon>dark_mode</mat-icon>
        catalogue
      </a>
      <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
        <mat-icon>person</mat-icon>
        Signup
      </a>
      
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">
        <mat-icon>login</mat-icon>
        Login
      </a>
      <a mat-list-item routerLink="/" (click)="sidenav.close(); userService.toGuestUser()">
        <mat-icon>logout</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

<mat-sidenav-content>
  <mat-toolbar>
    <div>
      <button mat-raised-button color="primary" (click)="sidenav.toggle()"> 
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <button mat-raised-button id="logo" routerLink=""></button>
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="1rem" fxHide.xs>
      <a routerLink="/signup">Signup</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/catalogue">Catalogue</a>
      <button fxLayoutAlign="center center" mat-mini-fab routerLink="/cart" [disabled]="userService.checkGuest()"><mat-icon>shopping_cart</mat-icon></button>
      <button fxLayoutAlign="center center" routerLink="/profile" mat-mini-fab [disabled]="userService.checkGuest()"><mat-icon>person</mat-icon></button>
    </div>
    
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-content>

</mat-sidenav-container>